body {
    margin-bottom: 100px;
}

.Categorie {
    border: solid 1px lightgray;
    padding: 10px;
}

    .Categorie button {
        float: right;
        margin-right: 5px;
        display: none;
    }

    .Categorie:hover button {
        display: block;
    }